# To big to be tracked
big_trace.json
branch_stress.config1.json
branch_stress_clean.config1.txt
branch_stress.config11.json
branch_stress_clean.config11.txt
branch_stress.config16.json
branch_stress_clean.config16.txt
dcache_hit_loop.config12b.json
dcache_hit_loop_clean.config12b.txt
dcache_hit_loop.config12c.json
dcache_hit_loop_clean.config12c.txt
icache_pressure.config4.json
icache_pressure_clean.config4.txt
icache_pressure.config5.json
icache_pressure_clean.config5.txt
icache_pressure.config15.json
icache_pressure_clean.config15.txt
matmul_small.config9.json
matmul_small_clean.config9.txt
matmul_small.config10.json
matmul_small_clean.config10.txt
stream_store.config1.json
stream_store_clean.config1.txt
stream_store.config13.json
stream_store_clean.config13.txt