# Files to big to be tracked
# CARLA
branch_stress_trace.txt
branch_stress_clean.txt
daxpy_trace.txt
daxpy_clean.txt
daxpy_unrolling_4_trace.txt
daxpy_unrolling_4_clean.txt
dcache_hit_loop_trace.txt
dcache_hit_loop_clean.txt
icache_pressure_trace.txt
icache_pressure_clean.txt
matmul_small_trace.txt
matmul_small_clean.txt
stream_store_trace.txt
stream_store_clean.txt
# Others
tests/*_trace*
branch_stress.config1.json
branch_stress_clean.config1.txt
branch_stress.config11.json
branch_stress_clean.config11.txt
branch_stress.config16.json
branch_stress_clean.config16.txt
icache_pressure.config1.json
icache_pressure_clean.config1.txt
icache_pressure.config4.json
icache_pressure_clean.config4.txt
icache_pressure.config5.json
icache_pressure_clean.config5.txt
icache_pressure.config15.json
icache_pressure_clean.config15.txt
matmul_small.config1.json
matmul_small_clean.config1.txt
matmul_small.config9.json
matmul_small_clean.config9.txt
matmul_small.config10.json
matmul_small_clean.config10.txt
stream_store.config1.json
stream_store_clean.config1.txt
stream_store.config13.json
stream_store_clean.config13.txt